.corpo {
    height:40000px;
    background: 
                url(../img/desktop/bgs/BG_01.jpg) top left / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_02.jpg) 0px 500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_03.jpg) 0px 1000px  / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_04.jpg) 0px 1500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_05.jpg) 0px 2000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_06.jpg) 0px 2500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_07.jpg) 0px 3000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_08.jpg) 0px 3500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_09.jpg) 0px 4000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_10.jpg) 0px 4500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_11.jpg) 0px 5000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_12.jpg) 0px 5500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_13.jpg) 0px 6000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_14.jpg) 0px 6500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_15.jpg) 0px 7000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_16.jpg) 0px 7500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_17.jpg) 0px 8000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_18.jpg) 0px 8500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_19.jpg) 0px 9000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_20.jpg) 0px 9500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_21.jpg) 0px 10000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_22.jpg) 0px 10500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_23.jpg) 0px 11000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_24.jpg) 0px 11500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_25.jpg) 0px 12000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_26.jpg) 0px 12500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_27.jpg) 0px 13000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_28.jpg) 0px 13500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_29.jpg) 0px 14000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_30.jpg) 0px 14500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_31.jpg) 0px 15000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_32.jpg) 0px 15500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_33.jpg) 0px 16000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_34.jpg) 0px 16500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_35.jpg) 0px 17000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_36.jpg) 0px 17500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_37.jpg) 0px 18000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_38.jpg) 0px 18500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_39.jpg) 0px 19000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_40.jpg) 0px 19500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_41.jpg) 0px 20000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_42.jpg) 0px 20500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_43.jpg) 0px 21000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_44.jpg) 0px 21500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_45.jpg) 0px 22000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_46.jpg) 0px 22500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_47.jpg) 0px 23000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_48.jpg) 0px 23500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_49.jpg) 0px 24000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_50.jpg) 0px 24500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_51.jpg) 0px 25000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_52.jpg) 0px 25500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_53.jpg) 0px 26000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_54.jpg) 0px 26500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_55.jpg) 0px 27000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_56.jpg) 0px 27500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_57.jpg) 0px 28000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_58.jpg) 0px 28500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_59.jpg) 0px 29000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_60.jpg) 0px 29500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_61.jpg) 0px 30000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_62.jpg) 0px 30500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_63.jpg) 0px 31000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_64.jpg) 0px 31500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_65.jpg) 0px 32000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_66.jpg) 0px 32500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_67.jpg) 0px 33000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_68.jpg) 0px 33500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_69.jpg) 0px 34000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_70.jpg) 0px 34500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_71.jpg) 0px 35000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_72.jpg) 0px 35500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_73.jpg) 0px 36000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_74.jpg) 0px 36500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_75.jpg) 0px 37000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_76.jpg) 0px 37500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_77.jpg) 0px 38000px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_78.jpg) 0px 38500px / 1920px 500px no-repeat,
                url(../img/desktop/bgs/BG_79.jpg) 0px 39000px / 1920px 500px no-repeat,             
                url(../img/desktop/bgs/BG_80.jpg) 0px 39500px / 1920px 500px no-repeat black;
} 

@media only screen and (max-width: 768px){
.corpo {
    height: 18900px;
    background: url(../img/mobile/fatias/mob_fatia_01.jpg) top left / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_02.jpg) 0px 450px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_03.jpg) 0px 900px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_04.jpg) 0px 1350px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_05.jpg) 0px 1800px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_06.jpg) 0px 2250px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_07.jpg) 0px 2700px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_08.jpg) 0px 3150px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_09.jpg) 0px 3600px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_10.jpg) 0px 4050px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_11.jpg) 0px 4500px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_12.jpg) 0px 4950px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_13.jpg) 0px 5400px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_14.jpg) 0px 5850px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_15.jpg) 0px 6300px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_16.jpg) 0px 6750px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_17.jpg) 0px 7200px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_18.jpg) 0px 7650px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_19.jpg) 0px 8100px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_20.jpg) 0px 8550px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_21.jpg) 0px 9000px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_22.jpg) 0px 9450px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_23.jpg) 0px 9900px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_24.jpg) 0px 10350px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_25.jpg) 0px 10800px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_26.jpg) 0px 11250px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_27.jpg) 0px 11700px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_28.jpg) 0px 12150px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_29.jpg) 0px 12600px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_30.jpg) 0px 13050px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_31.jpg) 0px 13500px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_32.jpg) 0px 13950px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_33.jpg) 0px 14400px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_34.jpg) 0px 14850px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_35.jpg) 0px 15300px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_36.jpg) 0px 15750px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_37.jpg) 0px 16200px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_38.jpg) 0px 16650px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_39.jpg) 0px 17100px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_40.jpg) 0px 17550px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_41.jpg) 0px 18000px / 376px 450px no-repeat,
                url(../img/mobile/fatias/mob_fatia_42.jpg) 0px 18450px / 376px 450px no-repeat black;
}
}