/* @import "config.css";
@import "bgs.css";
@import "titles.css";
@import "secao.css";
@import "elementos.css";
@import "tags.css"; */

html, body {
height: 100%;
}

body {
    margin: 0px;
    padding: 0px;  
                     
}
#app {
  height: 100%;
}
.corpo {
    width: 100em;
    font-size: 1vw;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    transform-origin: left top;

}

/* logotipo */
#logo
{
  width: 870px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 70px;
  display: block;
}

/* tag rolar */
#tag_rolar {
display: block;
max-width: 600px;
position: relative;
left: 0;
right: 0;
margin: auto;

}

/* Textos */

#textointro {
    background: url(../img/desktop/elementos/painel.png) top left / 100% auto no-repeat;
    display: block;
    width: 900px;
    height: auto;
    position: relative;
    margin: auto;
    top: 260em;
}

#textointro::before
{
  content: "";
  width: 100%;
  height: auto;
  padding-top: 82%;
  z-index: 1;
  display: block;
  position: relative;
}

#textointro .paragrafos
{
  position: absolute;
  top: 250px;
  left: 320px;
  width: 450px;
  transform: rotate(-6deg);
}

#textointro .paragrafos p {
    font-family: var(--font-textos-family);
    font-weight: var(--font-textos-weight);
    color: var(--cor-textos);
}

#textofinal
{
  position: absolute;
  top: 35560px;
  left: 490px;
  font-size: 1.5em;
  width: 1190px;
}
#textofinal h3 {
  font-family: var(--font-textos-family);
  font-weight: var(--font-titulos-weight);
  
  font-size: 40px;
}
#textofinal p {
  font-family: var(--font-textos-family);
  font-weight: var(--font-textos-weight);
  font-size: 30px;
}
#textofinal .paragrafo1
{
  position: relative;
  padding-left: 0px;
  width: 850px;
  top: 90px;
  left: 180px;
}
#textofinal .paragrafo2
{
  position: relative;
  top: 180px;
  left: 380px;
  width: 830px;
}